body { 
    color:rgb(0, 0, 0);
    background-color: rgb(255, 234, 254);   
}

a:visited{
    color: rgb(255, 0, 153);
    font-size: smaller;
}

a:hover {
    color: blueviolet;
}

a:active{
    color: rgb(43, 255, 0);
}

a:link{
    text-decoration: none;
}

div {
    text-align: center;
}

h1, h2, h3.diseñoh  {
color: rgb(9, 41, 138);
background-color: rgb(127, 133, 255);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}